
@{
    ViewData["Title"] = "SalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sales Report</h1>

<h2>Total Order: @ViewBag.totalOrders </h2>
<h2>Total Revenue: @ViewBag.totalRevenue.ToString("C") </h2>

